body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:1px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:414px;
  width:494px;
  height:1px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:1px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:416px;
  width:494px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:598px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:127px;
  width:347px;
  height:598px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:208px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9933;
  text-align:left;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:187px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#FF9933;
  text-align:left;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:521px;
  width:121px;
  height:37px;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:117px;
  word-wrap:break-word;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
  text-align:left;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:453px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#CCCCCC;
  text-align:left;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:592px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:762px;
  width:330px;
  height:592px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:1px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1034px;
  width:494px;
  height:1px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:1px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:1036px;
  width:494px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:828px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9933;
  text-align:left;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:807px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#FF9933;
  text-align:left;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
  text-align:left;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1073px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#CCCCCC;
  text-align:left;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:1070px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:586px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:1416px;
  width:340px;
  height:586px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:1px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:1698px;
  width:494px;
  height:1px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:1px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:1700px;
  width:494px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:1471px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#FF0000;
  text-align:left;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9933;
  text-align:left;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1471px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#FF9933;
  text-align:left;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
  text-align:left;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:1737px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#CCCCCC;
  text-align:left;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:1734px;
  width:235px;
  height:188px;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
